.navbar{

    background:white;

    padding:18px 30px;

    border-radius:15px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:30px;

    box-shadow:0 2px 10px rgba(0,0,0,.1);

}

.navbar-right{

    display:flex;

    align-items:center;

    gap:25px;

}

.user-info{

    display:flex;

    align-items:center;

    gap:10px;

}

.nav-icon{

    font-size:24px;

    color:#4F46E5;

    cursor:pointer;

}