body{
    margin:0;
    background:#EEF2FF;
    font-family:Segoe UI,Arial,sans-serif;
}

.dashboard{
    display:flex;
    min-height:100vh;
}

.content{
    flex:1;
    padding:35px;
}

.profile-card{
    background:white;
    padding:25px;
    border-radius:16px;
    margin-bottom:30px;
    box-shadow:0 4px 12px rgba(0,0,0,.1);
}

.cards{
    display:flex;
    flex-wrap:wrap;
    gap:25px;
}

.card{
    width:220px;
    border-radius:15px;
    padding:20px;
    color:white;
    box-shadow:0 5px 12px rgba(0,0,0,.15);
    transition:.3s;
}

.card:hover{
    transform:translateY(-6px);
}

.card:nth-child(1){
    background:#2563EB;
}

.card:nth-child(2){
    background:#10B981;
}

.card:nth-child(3){
    background:#F59E0B;
}

.card:nth-child(4){
    background:#EF4444;
}

.card:nth-child(5){
    background:#7C3AED;
}

.card h3{
    margin:0;
    font-size:18px;
}

.card p{
    margin-top:15px;
    font-size:32px;
    font-weight:bold;
}