.navbar{

display:flex;

justify-content:space-between;

align-items:center;

padding:18px 25px;

background:#13233c;

border-radius:12px;

box-shadow:0 0 10px rgba(0,0,0,.3);

}

.navbar h2{

margin:0;

font-size:28px;

color:#00d4ff;

}

.subtitle{

margin-top:5px;

color:#9db3c7;

font-size:14px;

}

.nav-right{

display:flex;

align-items:center;

gap:25px;

}

.status{

background:#12351f;

color:#4ade80;

padding:8px 15px;

border-radius:20px;

font-size:14px;

font-weight:bold;

}

.user{

background:#1f3656;

padding:8px 15px;

border-radius:20px;

font-size:15px;

color:white;

font-weight:bold;

}
.nav-left{

display:flex;

align-items:center;

gap:20px;

}

.menu-btn{

width:45px;

height:45px;

border:none;

border-radius:10px;

background:#111827;

color:#00d4ff;

font-size:22px;

cursor:pointer;

transition:.3s;

}

.menu-btn:hover{

background:#1f2937;

}